<div class="main_content_iner overly_inner">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-lg-12">
        <div class="white_card card_height_100 mb_20">
          <div class="white_card_header">
            <div class="white_box_tittle">
              <h4>Admission Mark Entry</h4>
            </div>
          </div>
          <div class="white_card_body">
            <div class="row">
              <div class="col-lg-12">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th scope="col">SL</th>
                      <th scope="col">Exam</th>
                      <th scope="col">Mark Template</th>
                      <th scope="col">Mark Distribution</th>
                      <th scope="col">Active</th>
                      <th scope="col">View</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let admission_mark of admission_marks ;let i=index;">
                      <td>{{i+1}}</td>
                      <td>{{admission_mark.admissionExam.code}}</td>
                      <td>{{admission_mark.admissionMarkTemplate.name}}</td>
                      <td>{{admission_mark.admissionMarkDistribution.admissionMarkHead.name}}</td>
                      <td>
                        <span class="badge bg-success" *ngIf="admission_mark.active">Yes</span>
                        <span class="badge bg-danger" *ngIf="!admission_mark.active">No</span>
                      </td>
                      <td>
                        <button class="btn btn-primary" (click)="getAdmissionMarkEntryView(admission_mark)">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                      </td>

                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
