<div class="row">
  <div class="col-lg-12">
    <div class="white_card card_height_100 mb_20">
      <div class="white_card_header">
        <div class="white_box_tittle">
          <h4>Admission Offer
            <button type="submit" class="btn btn-primary btn-sm float-end" (click)="admissionOfferView()" *ngIf="!isAdmissionOfferView">
              <i class="fa fa-plus-square mr_10" aria-hidden="true"></i>Add New
            </button>
          </h4>
        </div>
      </div>
      <div class="white_card_body">
        <form #admissionOfferForm="ngForm">
          <div class="row" ngModelGroup="admissionOfferData" #admissionOfferData="ngModelGroup" *ngIf="isAdmissionOfferView">
            <div class="col-md-4">
              <label class="form-label mb_10">Program<span style="color: red;">*</span></label>
              <div class="mb_20 pt_10">
                <ng-select id="program" name="program"
                           [(ngModel)]="admissionOffer.programId" #program="ngModel" required>
                  <ng-option *ngFor="let program of programs" [value]="program.id">
                    {{ program.code }} {{ program.name }}
                  </ng-option>
                </ng-select>
                <div>
                  <small *ngIf="program.invalid && program.touched">Program is a required field</small>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label class="form-label mb_10">Study Campus <span style="color: red;">*</span></label>
              <div class="mb_20 pt_10">
                <ng-select id="studyCampus" name="studyCampus" [(ngModel)]="admissionOffer.studyCampusId">
                  <ng-option *ngFor="let study_campus of study_campuses"
                             [value]="study_campus.id">{{ study_campus.name }}
                  </ng-option>
                </ng-select>
              </div>
            </div>

            <div class="col-lg-4">
              <label class="form-label mb_10">Expire Date<span style="color: red;">*</span></label>
              <div class="common_input mb_20">
                <input
                  type="date"
                  name="expireDate"
                  id="expireDate"
                  class="form-control" [(ngModel)]="admissionOffer.expireDate" #expireDate="ngModel" required
                />
                <div>
                  <small *ngIf="expireDate.invalid && expireDate.touched">Expire Date is a required field</small>
                </div>
              </div>
            </div>
            <div class="col-md-4" *ngIf="isUpdateButton">
              <label class="form-label mb_10">Status <span style="color: red;">*</span></label>
              <div class="mb_20 pt_10">
                <ng-select id="status" name="status" [(ngModel)]="admissionOffer.status">
                  <ng-option [value]="0">Pending</ng-option>
                  <ng-option [value]="1">Confirm</ng-option>
                  <ng-option [value]="2">Cancel</ng-option>
                </ng-select>
              </div>
            </div>

            <div class="col-lg-12">
              <button type="submit" class="btn btn-primary mr_10" (click)="postAdmissionOffer()" *ngIf="isSaveButton" [disabled]="admissionOfferData.invalid">
                <i class="fa fa-save mr_10" aria-hidden="true"></i>Save
              </button>
              <button type="submit" class="btn btn-success mr_10" (click)="putAdmissionOffer()" *ngIf="isUpdateButton" [disabled]="admissionOfferData.invalid">
                <i class="fa fa-edit mr_10" aria-hidden="true"></i>Update
              </button>
              <button type="submit" class="btn btn-danger mr_10" (click)="cancelAdmissionOffer()">
                <i class="fa fa-window-close mr_10" aria-hidden="true"></i>Cancel
              </button>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">SL</th>
                  <th scope="col">Program</th>
                  <th scope="col">Study Campus</th>
                  <th scope="col">Issue Date</th>
                  <th scope="col">Expire Date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Active</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let admission_offer of admissionApplication.admissionOffers;let i=index;">
                  <td>{{i+1}}</td>
                  <td>{{admission_offer.program?.name}}</td>
                  <td>{{admission_offer.studyCampus?.name}}</td>
                  <td>{{admission_offer.issueDate | date:'dd MMMM yyyy'}}</td>
                  <td>{{admission_offer.expireDate | date:'dd MMMM yyyy'}}</td>
                  <td>
                    <span class="badge bg-warning" *ngIf="admission_offer.status === 0 ">Pending</span>
                    <span class="badge bg-danger" *ngIf="admission_offer.status === 2">Cancel</span>
                    <span class="badge bg-success" *ngIf="admission_offer.status === 1">Confirm</span>

                  </td>
                  <td>
                    <span class="badge bg-danger" *ngIf="!admission_offer.active">No</span>
                    <span class="badge bg-success" *ngIf="admission_offer.active">Yes</span>
                  </td>
                  <td>
                    <button class="btn btn-success btn-sm float-end" (click)="editAdmissionOffer(admission_offer)">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
                <tr *ngIf="admissionApplication.admissionOffers.length === 0">
                  <td colspan="8" class="text-center"><p>No Data Found</p></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="loader-overlay" *ngIf="loading">
    <div class="loader-container">
      <div class="loader"></div>
    </div>
  </div>
</div>
