<div class="main_content_iner overly_inner">
  <div class="container-fluid p-0">

    <app-admission-stage></app-admission-stage>
    <app-applicant-admission-information></app-applicant-admission-information>
<!--    <app-admission-person-information *ngIf="activeTab === 2"></app-admission-person-information>-->
<!--    <app-applicant-education *ngIf="activeTab === 3"></app-applicant-education>-->
<!--    <app-applicant-other-information *ngIf="activeTab === 4"></app-applicant-other-information>-->
<!--    <app-admission-form-review *ngIf="activeTab === 5"></app-admission-form-review>-->
  </div>
</div>
