<div class="main_content_iner overly_inner">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-lg-12" *ngIf="isAdmissionEmailTemplateView">
        <div class="white_card card_height_100 mb_20">
          <div class="white_card_header">
            <div class="white_box_tittle">
              <h4 *ngIf="isSaveButton">Create Email Template</h4>
              <h4 *ngIf="isUpdateButton">Update Email Template</h4>
            </div>
          </div>
          <div class="white_card_body">
            <form #emailTemplateForm="ngForm">
              <div class="row" ngModelGroup="emailTemplateData" #emailTemplateData="ngModelGroup">
                <div class="col-lg-6">
                  <label class="form-label mb_10">Code</label>
                  <div class="common_input mb_20">
                    <input
                      name="code"
                      id="code"
                      type="text"
                      class="form-control" [(ngModel)]="admissionEmailTemplate.code" #code="ngModel" required
                    />
                    <div>
                      <small *ngIf="code.invalid && code.touched">Code is a required field</small>

                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <label class="form-label mb_10">Subject</label>
                  <div class="common_input mb_20">
                    <input
                      name="subject"
                      id="subject"
                      type="text"
                      class="form-control" [(ngModel)]="admissionEmailTemplate.subject" #subject="ngModel" required
                    />
                    <div>
                      <small *ngIf="subject.invalid && subject.touched">Subject is a required field</small>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <label class="form-label mb_10">Module</label>
                  <div class="common_input mb_20">
                    <input
                      name="module"
                      id="module"
                      type="text"
                      class="form-control" [(ngModel)]="admissionEmailTemplate.module" #module="ngModel" required
                    />
                    <div>
                      <small *ngIf="module.invalid && module.touched">Module is a required field</small>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <label class="form-label mb_10">Message</label>
                  <div class="common_input mb_20">
                    <div name="message" [ngxSummernote]="config" [(ngModel)]="admissionEmailTemplate.message"></div>
                  </div>
                </div>
                <div class="col-lg-12" *ngIf="isUpdateButton">
                  <div class="mb-3 form-check">
                    <label class="form-label mb_10"><input type="checkbox" class="form-check-input" name="active" id="active"  [(ngModel)]="admissionEmailTemplate.active"> Is Active</label>
                  </div>
                </div>

                <div class="col-lg-12">
                  <button type="submit" class="btn btn-primary mr_10" *ngIf="isSaveButton" (click)="postEmailTemplate()"
                          [disabled]="emailTemplateData.invalid">
                    <i class="fa fa-save mr_10" aria-hidden="true"></i>Save
                  </button>
                  <button type="submit" class="btn btn-success mr_10" *ngIf="isUpdateButton" (click)="putEmailTemplate()"
                          [disabled]="emailTemplateData.invalid">
                    <i class="fa fa-save mr_10" aria-hidden="true"></i>Update
                  </button>
                  <button type="submit" class="btn btn-danger" (click)="cancelEmailTemplate()">
                    <i class="fa fa-window-close mr_10" aria-hidden="true"></i>Cancel
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="white_card card_height_100 mb_20">
          <div class="white_card_header">
            <div class="white_box_tittle">
              <h4>Email Template List
                <button type="submit" class="btn btn-primary btn-sm float-end" (click)="emailTemplateView()" *ngIf="!isAdmissionEmailTemplateView">
                  <i class="fa fa-plus-square mr_10" aria-hidden="true"></i>Add New
                </button>
              </h4>
            </div>
          </div>
          <div class="white_card_body">
            <div class="row">
              <div class="col-lg-12">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th scope="col">SL</th>
                      <th scope="col">Code</th>
                      <th scope="col">Subject</th>
                      <th scope="col">Module</th>
                      <th scope="col">Status</th>
                      <th scope="col" colspan="2" class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let email_template of email_templates;let i = index;">
                      <td>{{i + 1}}</td>
                      <td>{{email_template.code}}</td>
                      <td>{{email_template.subject}}</td>
                      <td>{{email_template.module}}</td>
                      <td>
                        <span class="badge bg-success" *ngIf="email_template.active">Yes</span>
                        <span class="badge bg-danger" *ngIf="!email_template.active">No</span>
                      </td>
                      <td>
                        <button class="btn btn-success btn-sm float-end" (click)="editEmailTemplate(email_template)">
                          <i class="fa fa-edit" aria-hidden="true"></i>
                        </button>
                      </td>
                      <td>
                        <button class="btn btn-danger btn-sm" (click)="deleteEmailTemplate(email_template)">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="loader-overlay" *ngIf="loading">
    <div class="loader-container">
      <div class="loader"></div>
    </div>
  </div>
</div>

