<div class="row">
  <div class="col-lg-6">
    <div>
      <div class="white_card card_height_100 mb_20">
        <div class="white_card_header">
          <div class="white_box_tittle">
            <h4>Research
              <button type="submit" class="btn btn-primary float-end" (click)="researchInfoView()">
                <i class="fa fa-plus-square mr_10" aria-hidden="true"></i>Add
              </button>
            </h4>
          </div>
        </div>
<!--        <div class="white_card_body">-->
<!--          <div class="row">-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>

    <div *ngFor="let research of researches; let i=index;">
      <div class="white_card card_height_100 mb_20" >
        <div class="white_card_header">
          <div class="white_box_tittle">
            <h4>Research {{i+1}}
              <button class="btn btn-danger float-end mr_10" (click)="deleteResearch(research)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
              <button class="btn btn-success float-end mr_10" (click)="editResearch(research)">
                <i class="fa fa-edit" aria-hidden="true"></i>
              </button>
            </h4>
          </div>
        </div>
        <div class="white_card_body">
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Topic</th>
                      <td colspan="3">{{research.topic}}</td>
                    </tr>
                    <tr>
                      <th>Description</th>
                      <td colspan="3">{{research.description}}</td>
                    </tr>
                    <tr>
                      <th>Project Leader</th>
                      <td colspan="3">{{research.projectLeader}}</td>
                    </tr>
                    <tr>
                      <th>Start Date</th>
                      <td>{{research.startDate}}</td>
                      <th>End Date</th>
                      <td>{{research.endDate}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6" *ngIf="isResearchInfoView">
    <div class="white_card card_height_100 mb_20">
      <div class="white_card_header">
        <div class="white_box_tittle">
          <h4 *ngIf="isSaveButton">New Research</h4>
          <h4 *ngIf="isUpdateButton">Update Research</h4>
        </div>
      </div>
      <div class="white_card_body">
        <form #researchForm="ngForm">
          <div class="row" ngModelGroup="researchData" #researchData="ngModelGroup">
            <div class="col-md-12">
              <label class="form-label mb_10">Title</label>
              <div class="common_input mb_20">
                <input type="text" name="topic" class="form-control" [(ngModel)]="research.topic" #topic="ngModel" required/>
                <div>
                  <small *ngIf="topic.invalid && topic.touched">Topic is a required field</small>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <label class="form-label mb_10">Description</label>
              <div class="common_input mb_20">
                <textarea name="description" class="form-control" [(ngModel)]="research.description" #description="ngModel" required></textarea>
                <div>
                  <small *ngIf="description.invalid && description.touched">Description is a required field</small>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <label class="form-label mb_10">Project Leader</label>
              <div class="common_input mb_20">
                <input type="text" name="projectLeader" class="form-control" [(ngModel)]="research.projectLeader" #projectLeader="ngModel" required/>
                <div>
                  <small *ngIf="projectLeader.invalid && projectLeader.touched">Project Leader is a required field</small>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <label class="form-label mb_10">Start Date</label>
              <div class="common_input mb_20">
                <input type="date" name="startDate" class="form-control" [(ngModel)]="research.startDate" #startDate="ngModel" required/>
                <div>
                  <small *ngIf="startDate.invalid && startDate.touched">Start Date is a required field</small>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <label class="form-label mb_10">End Date</label>
              <div class="common_input mb_20">
                <input type="date" name="endDate" class="form-control" [(ngModel)]="research.endDate" #endDate="ngModel" required/>
                <div>
                  <small *ngIf="endDate.invalid && endDate.touched">End Date is a required field</small>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <button type="submit" class="btn btn-primary" (click)="postResearch()" *ngIf="isSaveButton" [disabled]="researchData.invalid">
                <i class="fa fa-save mr_10" aria-hidden="true"></i>Save
              </button>
              <button type="submit" class="btn btn-success mr_10" (click)="putResearch()" *ngIf="isUpdateButton" [disabled]="researchData.invalid">
                <i class="fa fa-edit mr_10" aria-hidden="true"></i>Update
              </button>
              <button type="submit" class="btn btn-danger mr_10" (click)="cancelResearch()" *ngIf="isUpdateButton">
                <i class="fa fa-window-close mr_10" aria-hidden="true"></i>Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
