<div class="row">
<!--  <div class="col-lg-12">-->
<!--    <div class="main-title mb_30">-->
<!--      <h3 class="m-0">Admission Application</h3>-->
<!--    </div>-->
<!--  </div>-->
  <div class="col-lg-6">
    <div class="dashboard_breadcam mb_30">
      <p><a (click)="getBack()">Application List</a> <i class="fas fa-caret-right"></i> Admission Application</p>
    </div>
  </div>
</div>

<!--<div class="row">-->
<!--  <div class="col-lg-12">-->
<!--    <div class="white_card">-->
<!--      <div class="white_card_header">-->
<!--        <div class="bulder_tab_wrapper">-->
<!--          <ul class="nav" id="myTab">-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" [routerLink]="['/admission-application-form', admissionApplication.id ]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Admission Information</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" [routerLink]="['/admission-application-form-step-two', admissionApplication.id]" routerLinkActive="active">Personal Information </a>-->
<!--            </li>-->

<!--            <li class="nav-item">-->
<!--              <a class="nav-link" [routerLink]="['/admission-application-form-step-three', admissionApplication.id]" routerLinkActive="active">Education Information</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" [routerLink]="['/admission-application-form-step-four', admissionApplication.id]" routerLinkActive="active">Additional Information</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" [routerLink]="['/admission-application-form-step-five', admissionApplication.id]" routerLinkActive="active">Review</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
