<div class="row">
  <div class="col-lg-12">
    <div class="white_card card_height_100 mb_20">
      <div class="white_card_header" *ngIf="admissionApplication.admissionAdmitCards.length===0">
        <div class="white_box_tittle">
          <h4>Admit Card
            <button type="submit" class="btn btn-primary btn-sm float-end" (click)="openAdmitCard()" >
              <i class="fa fa-plus-square mr_10" aria-hidden="true"></i>Add New
            </button>
          </h4>
        </div>
      </div>
      <div class="white_card_body">
        <form #admissionAdmitCardForm="ngForm">
          <div class="row" ngModelGroup="admissionAdmitCardData" #admissionAdmitCardData="ngModelGroup" *ngIf="enableAdmitCard">
            <div class="col-md-4">
              <label class="form-label mb_10">Test Venue <span style="color: red;">*</span></label>
              <div class="mb_20 pt_10">
                <ng-select id="testVenue" name="testVenue" [(ngModel)]="admissionAdmitCard.admissionTestVenueId"
                           #testVenue="ngModel" required>
                  <ng-option *ngFor="let test_venue of test_venues" [value]="test_venue.id">
                    {{ test_venue.name }}
                  </ng-option>
                </ng-select>
                <div>
                  <small *ngIf="testVenue.invalid && testVenue.touched">Admission Test Venue is a required field</small>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label class="form-label mb_10">Schedule <span style="color: red;">*</span></label>
              <div class="mb_20 pt_10">
                <ng-select id="schedule" name="schedule"
                           [(ngModel)]="admissionAdmitCard.admissionCircularTestScheduleId" #schedule="ngModel"
                           required>
                  <ng-option
                    *ngFor="let test_schedule of admissionApplication.admissionCircular.admissionCircularTestSchedules"
                    [value]="test_schedule.id">
                    {{ test_schedule.testDate }}, {{ test_schedule.testTime }}
                  </ng-option>
                </ng-select>
                <div>
                  <small *ngIf="schedule.invalid && schedule.touched">Admission Schedule is a required field</small>
                </div>
              </div>
            </div>
            <div class="col-lg-12">

              <button type="submit" class="btn btn-primary btn-sm mr_10" *ngIf="isSaveButton" (click)="postAdmissionAdmitCard()"
                      [disabled]="admissionAdmitCardData.invalid">
                <i class="fa fa-save mr_10" aria-hidden="true"></i>Save
              </button>
              <button type="submit" class="btn btn-success btn-sm mr_10" *ngIf="isUpdateButton" (click)="putAdmissionAdmitCard()"
                      [disabled]="admissionAdmitCardData.invalid">
                <i class="fa fa-edit mr_10" aria-hidden="true"></i>Update
              </button>
              <button type="submit" class="btn btn-danger btn-sm mr_10" (click)="cancelAdmissionAdmitCard()">
                <i class="fa fa-window-close mr_10" aria-hidden="true"></i>Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-12" *ngFor="let admit_card of admissionApplication.admissionAdmitCards">
      <div class="white_card card_height_100 mb_20">
        <div class="white_card_header">
          <div class="white_box_tittle">
            <h4>Admit Card
              <button class="btn btn-outline-success btn-sm float-end mr_10" (click)="sendAdmitCard(admit_card.id)">
                <i class="fa fa-envelope mr_10" aria-hidden="true"></i>Send Email
              </button>
<!--              <button class="btn btn-success btn-sm float-end mr_10" (click)="editAdmitCard(admit_card)">-->
<!--                <i class="fa fa-edit mr_10" aria-hidden="true"></i>Edit-->
<!--              </button>-->
              <button class="btn btn-danger btn-sm float-end mr_10" (click)="deleteAdmitCard(admit_card)">
                <i class="fa fa-trash mr_10" aria-hidden="true"></i>Delete
              </button>
            </h4>
          </div>
        </div>
        <div class="white_card_body">
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Test Venue</th>
                      <td colspan="3">{{ admit_card.admissionTestVenue.name }}</td>
                    </tr>
                    <tr>
                      <th>Test Schedule</th>
                      <td colspan="3">{{ admit_card.admissionCircularTestSchedule.testDate | date }} {{ admit_card.admissionCircularTestSchedule.testTime }}</td>
                    </tr>
                    <tr>
                      <th>Admit Card</th>
                      <td colspan="3">
                        <button class="btn btn-primary btn-sm mr_10" (click)="previewAdmitCard(admit_card)"><i
                          class="fa fa-eye" aria-hidden="true"></i></button>
                        <button class="btn btn-success btn-sm" (click)="getAdmitCard(admit_card)"><i
                          class="fa fa-download" aria-hidden="true"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div *ngIf="admissionApplication.admissionAdmitCards.length  === 0" class="col-lg-12 text-center" style="font-size: 18px">
    <p>No Data found.</p>
  </div>
  <div class="loader-overlay" *ngIf="loading">
    <div class="loader-container">
      <div class="loader"></div>
    </div>
  </div>
</div>
