<div class="main_content_iner overly_inner">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-lg-12">
        <div class="white_card card_height_100 mb_20">
          <div class="white_card_header">
            <div class="white_box_tittle">
              <div><a routerLink="/person-create" class="btn btn-primary">Add New</a></div>
              <h4>Student List </h4>
            </div>
          </div>
          <div class="white_card_body">

            <div class="row">
              <div class="col-lg-12">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th scope="col">Action</th>
                      <th scope="col">SL</th>
                      <th scope="col">Code</th>
                      <th scope="col">Name</th>
                      <th scope="col">Active</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let student of students;let i = index;">
                      <td>
                        <button class="btn btn-success mr_10" (click)="editStudent(student)">
                          <i class="fa fa-edit" aria-hidden="true"></i>
                        </button>
                        <!--                        <button class="btn btn-danger ml_5" (click)="deleteCountry(country)">-->
                        <!--                          <i class="fa fa-trash" aria-hidden="true"></i>-->
                        <!--                        </button>-->
                      </td>
                      <td>{{i + 1}}</td>
                      <td>{{student.code}}</td>
                      <td>{{student.fullName}}</td>
                      <td>
                        <span class="badge bg-success" *ngIf="student.active">True</span>
                        <span class="badge bg-danger" *ngIf="!student.active">False</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

